{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}
    <style>
        .weather-category ul{
            border:none;
        }
        #tasks{
            margin-top: 30px;
        }
        .progress.thin{
            position: relative;
        }
        .task-status-num{
            position: absolute;
            left: 42%;
        }
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
{% endblock %}
{% block content %}
    <section id="profile-content">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-user"></i> Profile</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li class="active"><i class="fa fa-user"></i>Profile</li>
            </ol>
        </div>
        <!-- profile-widget -->
        {% include ('User/profileHeading.html.twig') %}
        {% include ('User/tasks.html.twig') %}
        <div class="row">
            {% include ('User/latestUserArticles.html.twig') %}
            {% include ('User/codesnippets.html.twig') %}
        </div>
        <!-- page end-->
    </section>
{% endblock %}

{% block customScripts %}

{% endblock %}
