<html>
<head>
    <title>Knowledge Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% include 'layout/stylesheets.html.twig' %}

    {% block customStylesheet %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
{% include 'layout/scripts.html.twig' %}
{% block customScripts %}
{% endblock %}
</html>