{% extends (':layout:master-blank.html.twig') %}
{% block body %}
    {{ include ('layout/menu.html.twig') }}
    <section id="main-content">
        <section class="wrapper">
            {% block content %}
            {% endblock %}
        </section>
    </section>
    {#<div id="page-wrapper" class="clearfix">#}
    {##}
    {#</div>#}
{% endblock %}