<div id="card-stats">
    <div class="row">
        {#<div class="col s12 m6 l2">#}
            {#<div class="card">#}
                {#<div class="card-content  green white-text">#}
                    {#<p class="card-stats-title">Average rating</p>#}
                    {#<h4 class="card-stats-number"><i class="fa fa-star"></i><span id="avgRating">N/A</span></h4>#}
                    {#<p class="card-stats-compare"><span class="green-text text-lighten-5"><i class="fa fa-long-arrow-up"></i> Highest</span></p>#}
                    {#<p class="card-stats-compare"> <span class="green-text text-lighten-5"><i class="fa fa-long-arrow-down"></i> Lowest</span></p>#}
                {#</div>#}
                {#<div class="card-action  green darken-2">#}
                    {#<div id="clients-bar"><div style="width: 50%">#}

                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col s12 m6 l2">#}
            {#<div class="card">#}
                {#<div class="card-content  purple white-text">#}
                    {#<p class="card-stats-title">Average Nubmer of answers</p>#}
                    {#<h4 class="card-stats-number"><i class="fa fa-info"></i>566</h4>#}
                    {#<p class="card-stats-compare"><span class="purple-text text-lighten-5"><i class="fa fa-long-arrow-up"></i> Highest</span></p>#}
                    {#<p class="card-stats-compare"> <span class="purple-text text-lighten-5"><i class="fa fa-long-arrow-down"></i> Lowest</span></p>#}
                {#</div>#}
                {#<div class="card-action purple darken-2">#}
                    {#<div id="sales-compositebar">#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div class="col s12 m11 l11 canvasHolder canvasHidden">
            <canvas id="grafik"></canvas>
        </div>
        {#<!-- Modal Trigger -->#}
        {#<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>#}

        {#<!-- Modal Structure -->#}
        {#<div id="modal1" class="modal bottom-sheet">#}
            {#<div class="modal-content clearfix">#}
               {##}
            {#</div>#}
            {#<a class="btn-floating btn-large waves-effect waves-light accordion-toggle collapsed material-btn modal-action modal-close" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">#}
                {#<i class="fa fa-times"></i>#}
            {#</a>#}
        {#</div>#}
    </div>
</div>