{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}

    {% endblock %}
{% block content %}
   <section id="dashboard">
       <div class="col-lg-12">
           <h3 class="page-header"><i class="fa fa-home"></i> Dashboard</h3>
           <ol class="breadcrumb">
               <li><i class="fa fa-home"></i><a href="{{ path('article-main') }}">Dashboard</a></li>
           </ol>
       </div>
        {% for post in posts %}
            {{ post.postId }}
       {% endfor %}
   </section>
{% endblock %}
{% block customScripts %}
    <script src="{{ asset('Dashboard/js/posts.js') }}"></script>
{% endblock %}

